<h2 class="about"><a style="color:red" href="/stories/new">Click to Share Your Story</a></h2>

	<% @stories.each do |story| %>
		<table><tr><td>
			<a class="about" href="stories/<%=story.id%>">
				<li class="about">
					Name: <%= story.name %> - Location: <%= story.location %>
			 </a>
			</li>
		</br>
			<li class ="about">
				<%= story.story %></br>
				<%= format_date(story.created_at) %>
			</li>
		</td></tr></table></br>
	<% end %>

