<header>
	<h1><a href="/">The High Five Project</a></h1>
		<ul class="header">
			<li class="header"><a href="/">About</a></li>
			<li class="header"><a href="/stories">Stories</a></li> 
			<li class="header"><a href="/photos">Pictures</a></li>
			<li class="header"><a href="/history-of-the-high-five">History of the High Five</a></li> 
			<li class="header"><a href="/stories/new">Share Stories</a></li>
			<li class="header"><a href="/photos/new">Share Photos</a></li>
		</ul>
		
</header>
<h2 class="about"><a style="color:red" href="/stories/new">Click to Share Your Story</a></h2>

	<% @stories.each do |story| %>
		<table><tr><td>
			<a class="about" href="stories/<%=story.id%>">
				<li class="about">
					Name: <%= story.name %> - Location: <%= story.location %>
			 </a>
			</li>
		</br>
			<li class ="about">
				<%= story.story %></br>
				<%= format_date(story.created_at) %>
			</li>
		</td></tr></table></br>
	<% end %>

