<div class="new">
	<%= form_for @story, :url => { :action => "create" }  do |f| %>
		<p><%= f.label :name %>:</p> 
		<p> <%= f.text_field :name %> </p>
		<p><%= f.label :location %>:</p>
		<p><%= f.text_field :location %></p>
		<p><%= f.label :story %>:</p>
		<p><%= f.text_area :story, :size => "60x12" %></p>
		<p><%= f.submit "Submit Your Story" %></p>
	<% end %>
</div>