<!DOCTYPE html>
<html>
<div id="wrapper">
<head>
  <title>HighFiveApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<%= javascript_include_tag 'http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.1.js', 'rails' %>
</head>
<body>
	<%= render 'layouts/header' %>
<%= yield %>
	<%=render 'layouts/footer' %>
</body>
</div>
</html>
 


